<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Traffic lights</h1>
    <form>
    <table>
        <tr>
            {% for index in range(lights.num_indicators) %}
            <td class="title">{{index}}</td>
            {% endfor %}
        </tr>
        
        <tr>
            {% for index in range(lights.num_indicators) %}
            <td class="green"><input type="radio" name="pair{{index}}" value="green" {{ "checked" if lights.get_indicator(index) == lights.GREEN }}> Green </td>
            {% endfor %}
        </tr>
        
        <tr>
            {% for index in range(lights.num_indicators) %}
            <td class="red"><input type="radio" name="pair{{index}}" value="red" {{ "checked" if lights.get_indicator(index) == lights.RED }}> Red </td>
            {% endfor %}
        </tr>
        
        <tr>
            {% for index in range(lights.num_indicators) %}
            <td class="both"><input type="radio" name="pair{{index}}" value="both" {{ "checked" if lights.get_indicator(index) == lights.BOTH }}> Both </td>
            {% endfor %}
        </tr>
        
        <tr>
            {% for index in range(lights.num_indicators) %}
            <td class="off"><input type="radio" name="pair{{index}}" value="off" {{ "checked" if lights.get_indicator(index) == lights.OFF }}> Off </td>
            {% endfor %}
        </tr>

        <tr>
          <td colspan='{{lights.num_indicators}}'><input type="submit" value="Go" style="width:100%"/></td>
        </tr>
    </table>
    </form>
    
    <table>
        {% for index in range(lights.num_buzzers) %}
        <tr>
            <td class="buzzer">
                <form>
                    Duration <input type="number" value="500" name="buzzer{{index}}"/> ms <input type="submit" value="Buzzer {{index}}"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="errors">
        <ul>
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>    
  </body>
</html>

