{
    "username": "teamcity",
    "password": "password",
    "targets": [ 
        [ "build", "Workflow_1BuildRelease" ],
        [ "build", "Workflow_2DeployMiSlWorkflowToWorkflowMITest"],
        [ "build", "Workflow_3TestFullStackRelease" ],
        [ "build", "Workflow_4TestUnitAndIntegrationRelease" ],
        [ "build", "Workflow_5TestPerformanceRelease" ],
        [ "project", "MiNext" ]
    ]
}
