<html>
  <body>
    <h1>Traffic lights</h1>
    <form>
    <table>
    <tr>
      <td><input type="radio" name="pair0" value="green"> Green </td>
      <td><input type="radio" name="pair1" value="green"> Green </td>
      <td><input type="radio" name="pair2" value="green"> Green </td>
      <td><input type="radio" name="pair3" value="green"> Green </td>
      <td><input type="radio" name="pair4" value="green"> Green </td>
    </tr>

    <tr>
      <td><input type="radio" name="pair0" value="red"> Red </td>
      <td><input type="radio" name="pair1" value="red"> Red </td>
      <td><input type="radio" name="pair2" value="red"> Red </td>
      <td><input type="radio" name="pair3" value="red"> Red </td>
      <td><input type="radio" name="pair4" value="red"> Red </td>
    </tr>

    <tr>
      <td><input type="radio" name="pair0" value="off"> Off </td>
      <td><input type="radio" name="pair1" value="off"> Off </td>
      <td><input type="radio" name="pair2" value="off"> Off </td>
      <td><input type="radio" name="pair3" value="off"> Off </td>
      <td><input type="radio" name="pair4" value="off"> Off </td>
    </tr>
    </table>

    <input type="submit" value="Go"/>
    </form>
    <form>
        <input type="hidden" value="true" name="poweroff"/>
        <input type="submit" value="Power off">
  </body>
</html>

